# Git
.git
.gitignore

# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# Docker
Dockerfile
docker-compose.yml

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log